/* @Autor Ranyeri Klennes */

:root{

  --cor1: #fffdf9;
  --cor2: #ffda95;
  --cor3: #ffffff;

  --cor-base-escura: #37323b;
  --cor-amarelo: #FAC152;
  --cor-rosa: #FF7970;
  --cor-verde: #00E05B;
  --cor-roxo: #A13AE0;
  --cor-azul: #006BFF;

}
