body , html {
	font-family: 'Roboto Mono', monospace;
	background: var(--cor1);
	color: var(--cor-roxo);
	margin: 1%;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 0%;
}

input{
	color: var(--cor-amarelo);
	background: var(--cor1);
	text-transform: capitalize;
	border-radius: 3px;
	padding: 5px;
	margin: 2px;
	border: none;
	box-shadow:
	.1rem .1rem 1.4rem var(--cor2),
	-.1rem -.1rem 1.4rem white;
}